async-timeout==4.0.3
certifi==2024.8.30
charset-normalizer==3.4.0
environs==11.0.0
idna==3.10
marshmallow==3.23.0
packaging==24.1
python-dotenv==1.0.1
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.3
aiokafka==0.11.0
elastic-transport==8.15.1
elasticsearch==8.15.1